@import "~materialize-css/dist/css/materialize.min.css";

.closeButton {
    color: white;
    float: right;
    margin: 10px;
    cursor: pointer
}
.button {
    background-color: teal;
    margin-top: 1.5rem;
}